---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Footer from "../features/footer/Footer.astro";
import CodeOfConduct from "../features/code-of-conduct/CodeOfConduct.astro";
import { codeOfConductSections } from "../data/codeOfConduct";
import { organizationSchema, generateBreadcrumbSchema } from "../data/schema";
import { breadcrumbs } from "../data/seo";

const schemas = [
  organizationSchema,
  generateBreadcrumbSchema(breadcrumbs['code-of-conduct'])
];
---

<BaseLayout
  pageKey="code-of-conduct"
  schema={schemas}
>
  <Navbar />
  <main class="pt-12">
    <CodeOfConduct sections={codeOfConductSections} />
  </main>
  <Footer />
</BaseLayout>
