---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import FAQ from "../features/faq/FAQ.astro";
import Footer from "../features/footer/Footer.astro";
import { faqs } from "../data/faqs";
import { organizationSchema, faqSchema, generateBreadcrumbSchema } from "../data/schema";
import { breadcrumbs } from "../data/seo";

const schemas = [
  organizationSchema,
  faqSchema,
  generateBreadcrumbSchema(breadcrumbs.faq)
];
---

<BaseLayout 
  pageKey="faq"
  schema={schemas}
>
  <Navbar />
  <main class="pt-12">
    <FAQ faqs={faqs} />
  </main>
  
  <Footer />
</BaseLayout>
