---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Hero from "../features/hero/Hero.astro";
import Footer from "../features/footer/Footer.astro";
import { eventMeta } from "../data/event";
---

<BaseLayout
  title={`${eventMeta.name} | Where spirituality meets innovation`}
  description={eventMeta.description}
>
  <Navbar />
  <main>
    <Hero event={eventMeta} />
  </main>
  <Footer />
</BaseLayout>
