---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Prizes from "../features/prizes/Prizes.astro";
import Footer from "../features/footer/Footer.astro";
import { organizationSchema, generateBreadcrumbSchema } from "../data/schema";
import { breadcrumbs } from "../data/seo";

const schemas = [
  organizationSchema,
  generateBreadcrumbSchema(breadcrumbs.prizes)
];
---

<BaseLayout
  pageKey="prizes"
  schema={schemas}
>
  <Navbar />
  <main class="pt-12">
    <Prizes />
  </main>

  <Footer />
</BaseLayout>
