---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Schedule from "../features/schedule/Schedule.astro";
import Footer from "../features/footer/Footer.astro";
import { organizationSchema, generateBreadcrumbSchema } from "../data/schema";
import { breadcrumbs } from "../data/seo";

const schemas = [
  organizationSchema,
  generateBreadcrumbSchema(breadcrumbs.schedule)
];
---

<BaseLayout
  pageKey="schedule"
  schema={schemas}
>
  <Navbar />
  <main class="pt-12">
    <Schedule />
  </main>

  <Footer />
</BaseLayout>
