---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Speakers from "../features/speakers/Speakers.astro";
import Footer from "../features/footer/Footer.astro";
import { speakers } from "../data/speakers";
import { eventMeta } from "../data/event";
---

<BaseLayout 
  title={`Speakers | ${eventMeta.name}`} 
  description="Meet the industry experts and visionary speakers leading the way at LumbiniX 2026."
>
  <Navbar />
  <main class="pt-12">
    <Speakers speakers={speakers} />
  </main>
  
  <Footer />
</BaseLayout>
