---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Sponsors from "../features/sponsors/Sponsors.astro";
import Footer from "../features/footer/Footer.astro";
import { sponsors } from "../data/sponsors";
import { eventMeta } from "../data/event";
---

<BaseLayout 
  title={`Sponsors | ${eventMeta.name}`} 
  description="Meet the organizations making LumbiniX 2026 possible through their generous support."
>
  <Navbar />
  <main class="pt-12">
    <Sponsors sponsors={sponsors} />
  </main>
  
  <Footer />
</BaseLayout>
