---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Sponsors from "../features/sponsors/Sponsors.astro";
import Footer from "../features/footer/Footer.astro";
import { sponsors } from "../data/sponsors";
import { organizationSchema, generateBreadcrumbSchema } from "../data/schema";
import { breadcrumbs } from "../data/seo";

const schemas = [
  organizationSchema,
  generateBreadcrumbSchema(breadcrumbs.sponsors)
];
---

<BaseLayout 
  pageKey="sponsors"
  schema={schemas}
>
  <Navbar />
  <main class="pt-12">
    <Sponsors sponsors={sponsors} />
  </main>
  
  <Footer />
</BaseLayout>
