---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../features/navbar/Navbar.astro";
import Team from "../features/team/Team.astro";
import Footer from "../features/footer/Footer.astro";
import { team } from "../data/team";
import { eventMeta } from "../data/event";
---

<BaseLayout 
  title={`Organizing Team | ${eventMeta.name}`} 
  description="Meet the dedicated team behind the scenes of LumbiniX 2026."
>
  <Navbar />
  <main class="pt-12">
    <Team team={team} />
  </main>
  
  <Footer />
</BaseLayout>
